body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
}

h1 {
  margin: 0;
  font-family: "Anton";
  font-size: 30px;
  font-weight: 400;
  font-style: regular;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

h2 {
  margin: 0;
  font-family: "Anton";
  font-size: 20px;
  font-weight: 400;
  font-style: regular;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  padding-bottom: 10px;
  border-bottom: 0.5px solid #9f9f9f;
}

h3 {
  margin: 0;
  font-family: "Montserrat";
  font-size: 10px;
  font-weight: 700;
  font-style: normal;
  line-height: 100%;
  letter-spacing: 0%;
}

p {
  margin: 0;
  font-family: "Montserrat";
  font-size: 10px;
  font-weight: 300;
  font-style: light;
  line-height: 100%;
  letter-spacing: 0%;
  color: #292929;
}

.container {
  position: relative;
  width: 585px;
  height: 842px;
  background-color: #ffffff;
}

.header {
  height: 140px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #9f9f9f;
}

.photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid #9f9f9f;
}

.content {
  width: 100%;
  height: 702px;
  display: flex;
}

.left {
  width: 227px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 40px;
  border-right: 1px solid #9f9f9f;
}

.right {
  width: 368px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 20px 110px 20px;
}

.item {
  display: flex;
  flex-direction: column;
  padding-top: 8px;
  padding-bottom: 5px;
  gap: 5px;
  border-bottom: 1px solid #9f9f9f;
}

.linkedin p {
  height: 30px;
}

.software .item {
  border-bottom: none;
}

.progress-bar {
  width: 100%;
  height: 8px;
  background-color: #f4effd33;
  border-radius: 4px;
  overflow: hidden;
}

.progress-fill {
  height: 100%;
  background: linear-gradient(270deg, #8fd3f4 0%, #84fab0 100%);
  border-radius: 4px;
}

.logo {
  width: 73px;
  padding-bottom: 25px;
}

.right > div {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding-bottom: 20px;
}

.work-content {
  height: 183px;
  display: flex;
}

.education-content {
  height: 93px;
  display: flex;
}

.experience-left {
  width: 82px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.icon-container {
  width: 100%;
  height: 17.8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.work-content .line {
  position: absolute;
  width: 1px;
  height: 170px;
  background-color: #9f9f9f;
  margin-left: 76px;
  margin-top: 8px;
}

.education-content .line {
  position: absolute;
  width: 1px;
  height: 93px;
  background-color: #9f9f9f;
  margin-left: 76px;
  margin-top: 8px;
}
.icon-container p {
  position: absolute;
  color: #ffffff;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 12px;
  padding-left: 10px;
}

.icon-container .circle {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: #292929;
}

.work-content .experience-right {
  height: 163px;
  padding: 3px 0px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.education-content .experience-right {
  height: 93px;
  padding: 3px 0px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.experience-item {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.experience-item h3 {
  font-family: "Anton";
  font-weight: 400;
  font-size: 12px;
}

.experience-item p {
  font-weight: 400;
  font-size: 10px;
}

.escultures {
  position: absolute;
  bottom: 0;
  right: 0;
}
